page-login {
 
    .background_color {

      .logo-row {
        padding-top: 50px;
        padding-bottom: 20px;
      }

      .logo{
        height: 100px;
        width: 100px;
      }

       .error {
        text-align: center;
      }

      .login-box {
        background: transparent;
        padding: 20px 20px 0px 20px;
        margin-top: 30px;
      }
   
      ion-row {
         align-items: center;
         text-align: center;
       }
   
      .signup-col {
        margin: 0px 16px 0px 16px;
        padding-bottom: 20px;
       }
    }
   
  }