<ion-content class="background_color" padding>
  <ion-row class="logo-row">
    <ion-col></ion-col>
    <ion-col width-67 height-67>
      <img class="logo" src="assets/imgs/logo.png" />
    </ion-col>
    <ion-col></ion-col>
  </ion-row>

  <div class="login-box">
    <form (ngSubmit)="login()" #registerForm="ngForm">
      <ion-row>
        <ion-col>
          <ion-list inset>

            <ion-item no-lines class="input-col">
              <ion-label>
                <ion-icon name="contact"></ion-icon>
              </ion-label>
              <ion-input type="text" placeholder="ID" name="id" [(ngModel)]="registerCredentials.id" required></ion-input>
            </ion-item>

            <ion-item no-lines class="input-col">
              <ion-label>
                <ion-icon name="key"></ion-icon>
              </ion-label>
              <ion-input type="password" placeholder="Password" name="password" [(ngModel)]="registerCredentials.password" required></ion-input>
            </ion-item>

            <ion-item no-lines class="err-col">
              <div class="error" id="err">
              </div>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col class="signup-col">
          <button ion-button round type="button" full type="submit" [disabled]="!registerForm.form.valid">Login</button>
          <button ion-button round type="button" full (click)="changeSetting()">Setting</button>
        </ion-col>
      </ion-row>

    </form>
  </div>
</ion-content>