<ion-header>

  <ion-navbar>
    <ion-title>Dispense</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding class="background_color">

  <form novalidate (ngSubmit)="dispense()" [formGroup]="dispenseForm" >
    <table id="rwd-table_type_recycler">
      <thead>
        <tr>
          <th>Denomiation</th>
          <th>Current Quantity</th>
          <th>Dispense Quantity</th>
        </tr>
      </thead>
      
      <tbody>
        <tr *ngFor="let type_recycler of checkAmount_Piece_recycler">
          <td>SGD {{type_recycler.amount}}</td>
          <td>{{type_recycler.piece}}</td>
          <td>
              <ion-input class="pieceInput" placeholder="0" no-margin id="{{type_recycler.id}}" type="number" 
              [(ngModel)]="dispenseDetail[type_recycler.id].value" 
              formControlName="pieceInput"
              disabled="{{type_recycler.isDisabled}}"></ion-input>
            
            </td>
        </tr>

        <button round full ion-button id="submit-btn" class="submit-btn" type="button" type="submit" [disabled]="dispenseForm.invalid">Submit</button>
        <button round full ion-button class="reset-btn" type="button" (click)="resetBtnOnClick()">Reset</button>

      </tbody>
    </table>
  </form>

</ion-content>