page-dispense {    
    @mixin heading-font-regular {
        font-family: 'Helvetica', 'Helvetica Neue', 'Arial', sans-serif;
    }
    
    //SUPER BASIC PAGE STYLING
    *,*:before,*:after{
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
      }
      main {
        padding: 2em;  
        float: left;
        width: 100%;
      }
  
      .pieceInput{
          font-weight: bold;
          background-color: #D9D9F3;
          width:30%;
          border-radius: 5px;
          padding-left: 4px;
      }
      
      
      ///BASIC TABLE STYLING
      table {
          border-collapse: collapse;
          width: 100%;
          float: left;
          margin: 0 0 2em;
          thead {
              border-bottom: 3px solid $primary-color;
              th {
                  padding: 0.35em 0 .35em;
                  font-weight: 400;
                  text-align: left;
                  @include heading-font-regular;
                  font-size: 1.25em;
              }
              
          }
      
          tbody {
              border-bottom: 3px solid $primary-color;
              tr {
                  border-bottom: 2px solid #ddd;
             
                  td {
                      padding: .75em 0;
      
                      a {
                          color: $primary-color;
                          text-decoration: none;
                          display: inline-block;
                          margin: 0 .5em 0 0;
                          &:hover, &:active, &:focus {
                              color: darken($primary-color, 10%);
                              border: none;
                          }
                      }
                  }
              }
          }
      
          tfoot {
              td {
                  padding: 0.35em 0 .35em;
      
                  text-align: left;
                  @include heading-font-regular;
                  font-size: 1.25em;
              }
          }
      }
      
      @media screen and (min-width: $large-up) {
        table {
              width: 100%;
      
              thead {
                  border-bottom: 3px solid $primary-color;
                  th {
                  }
                  
              }
      
              tbody {
                  tr {
                      border-bottom: 1px solid #ddd;
                      td {
                          
                      }
                  }
              }
          }
      }
      
      ///RWD MIXIN BELOW
      @mixin rwd-first {
          display: block;
        
      
        tbody {
          border: none;
        }
              tbody, th, td, tr, tfoot {
                  display: block; 
              }
      
              thead {
                  display: none;
              }
              tr {
                  float: left;
                  width: 100%;
                  margin: 0 0 1em;
                  background: #ffffff;
                  font-weight: bold;
                  color:$primary-color;
                  padding-left: 8px;
                  //border: 1px solid $gray-color;
                  //box-shadow: 0px 2px 5px 0px $gray-color;
                  border-radius: $global-radius;
                  //border-top: 5px solid $primary-color;
      
                  td {
                      padding: .5em .5em .5em 50%;
                      float:left;
                      width: 100%;
                      &:before {
                          width: 100%;
                          display: block;
                          float: left;
                          padding: .5em .5em .5em 0;
                          clear: both;
                          margin: -.5em 0 0 -100%;
                          @include heading-font-regular;
                          font-size: 1.125em;
      
                      }
                  }
              }
      
              tr:nth-of-type(even) {
                  //background: $gray-color;
                  td {
                      
                      &:before {
                          
                      }
                  }
              }
      }
      
      @mixin rwd-second {
          display: table;
          border: none;
      
        tbody {
          border-bottom: 3px solid $primary-color;
        }
          th, td {
              display: table-cell; 
          }
      
          tr {
              display: table-row;
              border: none;
              border-bottom: 1px solid #eee;
              float: none;
              margin: 0;
              box-shadow: none;
      
              td {
                  padding: .75em 0 0.75em .25em;
                  float: none;
                  width: auto;
      
                  &:before {
                      padding: 0 !important;
                  }
              }
          }
      
          thead {
              display: table-header-group;
          }
      
          tbody,tfoot {
              display: table-row-group;
          }
      
          tr:nth-of-type(even) {
              background:none;
              td {
                  
                  &:before {
                      
                  }
              }
          }
      }
      
      %responive-tables {
          @include rwd-first;
      
          @media screen and (min-width: $medium-up) { 
              @include rwd-second;
              
          }
      }
      
      
      @mixin responive-tables($headings...) {
          $list: $headings;
      
          @each $list-headings in $list {
              $i: index($list, $list-headings);
              tbody tr td:nth-of-type(#{$i}):before { 
                  content: $list-headings; 
              }
              
              @media screen and (min-width: $medium-up) { 
                  tbody tr td:nth-of-type(#{$i}):before { 
                      content: ''; 
                  }
              }
      
          }
      }
    
    #rwd-table_type_recycler {
        @extend %responive-tables;
        @include responive-tables('Denomination', 'Current Quantity', 'Dispense Quantity');
    }
    
}
