<ion-header>

  <ion-navbar>
    <ion-title>Push To CashBox</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding class="background_color">
  <!--
  <ion-row>
    <ion-item>
      <ion-label>Select Inventory Type</ion-label>
      <ion-select name="type" (ionChange)="onChange($event)">
        <ion-option value="4">Recycler</ion-option>
        <ion-option value="3">CashBox</ion-option>
      </ion-select>
    </ion-item>
  </ion-row>
-->
  <!--<ion-row id="table_recycler_title" style="display: none"> 
<ion-row id="table_recycler_title">
  <ion-card>
    <ion-card-header class="company-detail">
      Recycler
    </ion-card-header>
  </ion-card>
</ion-row>
-->
  <!--
        <ion-row id="table_cashbox_title" style="display: none">
          <ion-card>
              <ion-card-header  class="company-detail">
                  CashBox  
              </ion-card-header>
            </ion-card>
      </ion-row>
      -->

  <!--
<table id="rwd-table_type_cashbox" style="display: none">
  <thead>
    <tr>
      <th>Amount</th>
      <th>Piece</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let type_cashbox of checkAmount_Piece_cashbox">
      <td>SGD {{type_cashbox.amount}}</td>
      <td>{{type_cashbox.piece}}</td>
    </tr>
  </tbody>
</table>
-->


  <form novalidate (ngSubmit)="pushConfirmation(1)" [formGroup]="pushForm">
    <table id="rwd-table_type_recycler">
      <thead>
        <tr>
          <th>Denomination</th>
          <th>Current Quantity</th>
          <th>Push Quantity</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let type_recycler of checkAmount_Piece_recycler">
          <td>SGD {{type_recycler.amount}}</td>
          <td>{{type_recycler.piece}}</td>
          <td>
            <ion-input class="pieceInput" placeholder="0" no-margin id="{{type_recycler.id}}" type="number" 
            [(ngModel)]="pushDetail[type_recycler.id].value" 
            formControlName="pieceInput"
            disabled="{{type_recycler.isDisabled}}"></ion-input>
          </td>
        </tr>
      </tbody>
    </table>
  </form>

  <button round full ion-button id="submit-btn" class="submit-btn" type="button" type="submit" (click)="pushConfirmation(1)" [disabled]="pushForm.invalid">Push</button>
  <button round full ion-button id="submit-btn" class="submit-btn" type="button" type="submit" (click)="pushConfirmation(2)">Push All</button>
  <button round full ion-button id="submit-btn" class="submit-btn" type="button" type="submit" (click)="pushConfirmation(3)">Push By Base</button>
  <button round full ion-button class="reset-btn" type="button" (click)="resetBtnOnClick()">Reset</button>
</ion-content>