<ion-header>

  <ion-navbar>
    <ion-title>Report</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding class="background_color">

  <ion-row>
    <ion-item no-lines class="input-col">
      <ion-label>Select Report Type</ion-label>
      <ion-select name="type" (ionChange)="onChange($event)">
        <ion-option value="1">Operation Report</ion-option>
        <ion-option value="2">Collect Report</ion-option>
      </ion-select>
    </ion-item>
  </ion-row>

  <ion-row id="operation_datePicker" style="display: none">
    <ion-item no-lines class="input-col">
      <ion-label>Select Date</ion-label>
      <ion-datetime displayFormat="DD/MM/YYYY" pickerFormat="DD MMMM YYYY" min="2018" [(ngModel)]="operationReportDate.selected"
        (ionChange)="operationDatePicker()"></ion-datetime>
    </ion-item>
  </ion-row>

  <ion-row class="report_table_header" id="operation_report">
    <ion-col col-2 class="report_table_header_col">
      Operation
    </ion-col>
    <ion-col col-2 class="report_table_header_col">
      Trans. Date
    </ion-col>
    <ion-col col-2 class="report_table_header_col">
      Trans. Time
    </ion-col>
    <ion-col col-2 class="report_table_header_col">
      Sales (SGD)
    </ion-col>
    <ion-col col-2 class="report_table_header_col">
      Insert Amount (SGD)
    </ion-col>
    <ion-col col-2 class="report_table_header_col_last">
      Changes (SGD)
    </ion-col>
  </ion-row>

  <ion-row class="report_table_body" id="operation_report" *ngFor="let report of reportArray">
      <ion-col col-2 class="report_table_body_col" >
      <div *ngIf="report.status == 'Success'" id = "success"> {{report.operation}}</div>
      <div *ngIf="report.status != 'Success'" id = "failed"> {{report.operation}}</div>
    </ion-col>
    <ion-col col-2 class="report_table_body_col">
      {{report.date}}
    </ion-col>
    <ion-col col-2 class="report_table_body_col">
      {{report.time}}
    </ion-col>
    <ion-col col-2 class="report_table_body_col">
      {{report.sales}}
    </ion-col>
    <ion-col col-2 class="report_table_body_col">
      {{report.total_insert_amount}}
    </ion-col>
    <ion-col col-2 class="report_table_body_col_last">
      {{report.change}}
    </ion-col>
  </ion-row>

  <ion-row id="collectionReport_datePicker" style="display: none">
    <ion-item no-lines class="input-col">
      <ion-label>Select Date</ion-label>
      <ion-datetime displayFormat="DD/MM/YYYY" pickerFormat="DD MMMM YYYY" min="2018" [(ngModel)]="collectionReportDate.selected"
        (ionChange)="collectionReportDatePicker()"></ion-datetime>
    </ion-item>
  </ion-row>

  <ion-row class="report_table_header" id="collection_report" style="display: none">
    <ion-col col-2 class="report_table_header_col">
      Status
    </ion-col>
    <ion-col col-2 class="report_table_header_col">
      Trans. Date
    </ion-col>
    <ion-col col-2 class="report_table_header_col">
      Trans. Time
    </ion-col>
    <ion-col col-2 class="report_table_header_col">
      Sales (SGD)
    </ion-col>
    <ion-col col-2 class="report_table_header_col">
      Insert Amount (SGD)
    </ion-col>
    <ion-col col-2 class="report_table_header_col_last">
      Changes (SGD)
    </ion-col>
  </ion-row>

  <ion-row class="report_table_body" id="collection_report" style="display: none" *ngFor="let report of reportArray">
    <ion-col col-2 class="report_table_body_col">
      {{report.status}}
    </ion-col>
    <ion-col col-2 class="report_table_body_col">
      {{report.date}}
    </ion-col>
    <ion-col col-2 class="report_table_body_col">
      {{report.time}}
    </ion-col>
    <ion-col col-2 class="report_table_body_col">
      {{report.sales}}
    </ion-col>
    <ion-col col-2 class="report_table_body_col">
      {{report.total_insert_amount}}
    </ion-col>
    <ion-col col-2 class="report_table_body_col_last">
      {{report.change}}
    </ion-col>
  </ion-row>
</ion-content>