page-home {

.header_design{
  font-size: 15px;
  text-align: center;
  font-weight: bold;
  color: white;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 35px;
}

.body{
  background: #ffffff;
}

ion-col{
  font-size: 14px;
  font-weight: bold;
  color: #121885;
  text-align: center;
  padding: 40px; 
  height: 120px; 
}

.inner_box{
  margin-left: auto;
  margin-right: auto;
  border-radius:  5px;
  height: 100px;
  width: 92%;
  padding-top:12px;
  background: #ffffff;
  box-shadow: 0 0 2px 2px rgb(212, 207, 207);
}

ion-icon{
  color: #121885;
  font-size: 34px;
}

}