<ion-header>
  <ion-navbar>
    <ion-title>
      Menu
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="background_color">
  <ion-row>
    <div class="header_design">
      <br> Welcome {{username}}!
      <br>
      <br>Status:
      <br>{{status}}
      <br>{{status2}}
    </div>
  </ion-row>

  <ion-grid class="body">
    <ion-row *ngIf="level == 003">
      <ion-col col-6 col-lg-6 col-md-6 col-sm-6 *ngFor="let ui of su_ui">
        <div class="inner_box" (click)="triggerFunction(ui.id)">
          <ion-icon [name]="ui.icon_name"></ion-icon>
          <br>
          <br> {{ui.name}}
        </div>
      </ion-col>
    </ion-row>

    <ion-row *ngIf="level == 002">
      <ion-col col-6 col-lg-6 col-md-6 col-sm-6 *ngFor="let ui of admin_ui">
        <div class="inner_box" (click)="triggerFunction(ui.id)">
          <ion-icon [name]="ui.icon_name"></ion-icon>
          <br>
          <br> {{ui.name}}
        </div>
      </ion-col>
    </ion-row>

    <ion-row *ngIf="level == 001">
      <ion-col col-6 col-lg-6 col-md-6 col-sm-6 *ngFor="let ui of cashier_ui">
        <div class="inner_box" (click)="triggerFunction(ui.id)">
          <ion-icon [name]="ui.icon_name"></ion-icon>
          <br>
          <br> {{ui.name}}
        </div>
      </ion-col>
    </ion-row>


  </ion-grid>

</ion-content>