<!--
<ion-header>
  <ion-navbar>
    <ion-title>Replenishment</ion-title>
  </ion-navbar>
</ion-header>
-->

<ion-header>
  <ion-navbar hideBackButton>
     <ion-buttons left>
         <button id="backButton" ion-button (click)="backButton()">
             <ion-icon class="customIcon" name="arrow-back"></ion-icon>
         </button>
     </ion-buttons>
     <ion-title>Replenishment</ion-title>
  </ion-navbar>
 </ion-header>

<ion-content padding class="background_color">
  <form id="insertForm">
    <ion-row>
      <ion-col>
        <ion-list inset>

          <ion-item class="input-col">
            <ion-label class = "disabled">Cash (SGD):</ion-label>
            <ion-input type="text" placeholder="" id="insertReceivedCash" name="insertReceivedCash" disabled="{{isDisabled}}"></ion-input>
          </ion-item>

        </ion-list>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col class="btn-col">
        <button ion-button round full class="startInsert-btn" type="button" id="startInsert-btn" (click)="getStatusOfMachine(2)">Cash In</button>
        <button ion-button round full class="cancelInsert-btn" type="button" id="cancelInsert-btn" type="submit" disabled="{{isDisabled}}" (click)="cashinCancelOperation()">Cancel</button>
        <button ion-button round full class="completeInsert-btn" type="button" id="completeInsert-btn" disabled="{{isDisabled}}" (click)="completeCashInBtnOnClick()">Confirm</button>
      </ion-col>
    </ion-row>


    <ion-item no-lines class="err-col">
      <div class="error" id="status"></div>
    </ion-item>

  </form>
</ion-content>