// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "../assets/fonts";


// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;


@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/theming/overriding-ionic-variables/




// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary:    #488aff,
  secondary:  #32db64,
  danger:     #f53d3d,
  light:      #f4f4f4,
  dark:       #222
);


// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here




// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here




// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";

$error-color: #FFF70F;
$primary-color: #121885;
$gray-color: #ddd;
$medium-up: 600px;
$large-up: 1000px;
$global-radius: 5px;

.background_color{
  background: linear-gradient(to right, #8BA7F5 0%, #788bed 100%);

button{
  background: $primary-color;
}


.input-col{
  border-radius: 30px !important;
  padding-left: 30px !important;
  font-size: 0.9em;
  margin-bottom: 10px;
  color:white !important;
  font-weight: bold;
  background: linear-gradient(to right, #9CB3F6 0%, #8EA5F1 100%);

  ion-label{
    color:white !important;
    font-weight: bold;
  }

  ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: white;
  }
  ::-moz-placeholder { /* Firefox 19+ */
    color: white;
  }
  :-ms-input-placeholder { /* IE 10+ */
    color: white;
  }
  :-moz-placeholder { /* Firefox 18- */
    color: white;
  }

  .disabled{
    opacity: 0.3;
  }
}

.item-inner {
  border-bottom-color: none !important;
  box-shadow: none !important;
}

//error & remark
//==========================================================
.remark{
  background:transparent;
  font-size: 11px;
  color: $error-color;
}

.error {
  color: $error-color;
  font-size: 11px;
}

.error1 {
  color: rgb(75, 75, 75);
  border-bottom: 1px solid $error-color;
}

.err-col{
  background:transparent;
 }
}


