<ion-header>

  <ion-navbar>
    <ion-title>Faulty Details</ion-title>
  </ion-navbar>

</ion-header>



<ion-content padding class="background_color">

  <ion-row>
    <ion-item no-lines class="input-col">
      <ion-label>Select Date</ion-label>
      <ion-datetime displayFormat="DD/MM/YYYY" pickerFormat="DD MMMM YYYY" min="2018" [(ngModel)]="date.selected" (ionChange)="datePicker()"></ion-datetime>
    </ion-item>
  </ion-row>


  <ion-row class="report_table_header">
    <ion-col col-3 class="report_table_header_col">
      Index
    </ion-col>
    <ion-col col-4 class="report_table_header_col">
      Amount (SGD)
    </ion-col>
    <ion-col col-5 class="report_table_header_col_last">

    </ion-col>
  </ion-row>

  <ion-row class="report_table_body" *ngFor="let faulty of faultyArray">
    <ion-col col-3 class="report_table_body_col">
      {{faulty.index}}
    </ion-col>
    <ion-col col-4 class="report_table_body_col">
      {{faulty.amount}}
    </ion-col>
    <ion-col col-5 class="report_table_body_col_last" (click)="dispenseConfirmation(faulty.index,faulty.amount)">
      Dipsense
    </ion-col>
  </ion-row>
</ion-content>