<ion-header>

  <ion-navbar>
    <ion-title>Create / View / Edit User</ion-title>
  </ion-navbar>

</ion-header>


<ion-content class="background_color" padding>
  <ion-row>
    <ion-item no-lines class="input-col">
      <ion-label>Select Option</ion-label>
      <ion-select name="type" (ionChange)="onChange($event)">
        <ion-option aria-selected="true" value="1">Create User</ion-option>
        <ion-option value="2">View / Edit User</ion-option>
      </ion-select>
    </ion-item>
  </ion-row>

  <!--
    <ion-row id="table_create_title">
    <ion-card>
      <ion-card-header>
        Create User
      </ion-card-header>
    </ion-card>
  </ion-row>

  <ion-row id="table_view_edit_title" style="display: none">
    <ion-card>
      <ion-card-header>
        View / Edit User
      </ion-card-header>
    </ion-card>
  </ion-row>
  -->

  <br>
  <ion-list id="create_user">
    <form novalidate (ngSubmit)="createUser()" [formGroup]="createUserForm">

      <ion-item no-lines class="input-col">
        <ion-label>Name: </ion-label>
        <ion-input type="text" [(ngModel)]="userData.name" formControlName="name" [class.error1]="!createUserForm.controls.name.valid && createUserForm.controls.name.dirty"></ion-input>
      </ion-item>

      <ion-item class="remark" no-lines *ngIf="( createUserForm.get('name').hasError('minlength') || createUserForm.get('name').hasError('maxlength') ||createUserForm.get('name').hasError('pattern') ||createUserForm.get('name').hasError('required') ) && createUserForm.get('name').touched">
        <div class="error" *ngIf="createUserForm.get('name').hasError('required') && createUserForm.get('name').touched">
          Please input your name
        </div>
        <div class="error" *ngIf="createUserForm.get('name').hasError('minlength') && createUserForm.get('name').touched">
          Minimum 4 characters
        </div>
        <div class="error" *ngIf="createUserForm.get('name').hasError('maxlength') && createUserForm.get('name').touched">
          Maximum 30 characters
        </div>
        <div class="error" *ngIf="createUserForm.get('name').hasError('pattern') && createUserForm.get('name').touched">
          Just use alphabet character
        </div>
      </ion-item>

      <!--
      <ion-item>
        <ion-label floating>Email</ion-label>
        <ion-input type="text" [(ngModel)]="userData.email" formControlName="email" [class.error1]="!createUserForm.controls.email.valid && createUserForm.controls.email.dirty"></ion-input>
      </ion-item>
      <ion-item no-lines *ngIf="( createUserForm.get('email').hasError('minlength') || createUserForm.get('email').hasError('pattern') ||createUserForm.get('email').hasError('required') ) && createUserForm.get('email').touched">
        <div class="error" *ngIf="createUserForm.get('email').hasError('required') && createUserForm.get('email').touched">
          Please input your email
        </div>
        <div class="error" *ngIf="createUserForm.get('email').hasError('pattern') && createUserForm.get('email').touched">
          Email address invalid
        </div>
      </ion-item>
      
      <ion-item>
        <ion-label floating>Username: </ion-label>
        <ion-input type="text" [(ngModel)]="userData.username" formControlName="username" [class.error1]="!createUserForm.controls.username.valid && createUserForm.controls.username.dirty"></ion-input>
      </ion-item>

      <ion-item no-lines *ngIf="( createUserForm.get('username').hasError('minlength') || createUserForm.get('username').hasError('maxlength') ||createUserForm.get('username').hasError('pattern') ||createUserForm.get('username').hasError('required') ) && createUserForm.get('username').touched">
        <div class="error" *ngIf="createUserForm.get('username').hasError('required') && createUserForm.get('username').touched">
          Please input your username
        </div>
        <div class="error" *ngIf="createUserForm.get('username').hasError('minlength') && createUserForm.get('username').touched">
          Minimum 4 characters
        </div>
        <div class="error" *ngIf="createUserForm.get('username').hasError('maxlength') && createUserForm.get('username').touched">
          Maximum 10 characters
        </div>
        <div class="error" *ngIf="createUserForm.get('username').hasError('pattern') && createUserForm.get('username').touched">
          Just use alphabet character
        </div>
      </ion-item>
      -->

      <ion-item no-lines class="input-col">
        <ion-label class = "disabled">User ID: </ion-label>
        <ion-input type="text" id="user_id" [(ngModel)]="userData.user_id" formControlName="user_id" disabled="{{isDisabled}}"></ion-input>
      </ion-item>

      <ion-item no-lines class="input-col">
        <ion-label>Password: </ion-label>
        <ion-input type="text" [(ngModel)]="userData.password" formControlName="password" [class.error1]="!createUserForm.controls.password.valid && createUserForm.controls.password.dirty"></ion-input>
      </ion-item>

      <ion-item no-lines class="auto_generate_pass" (click)="generatePassword()">
        Auto Generate
      </ion-item>

      <ion-item class="remark" no-lines *ngIf="( createUserForm.get('password').hasError('minlength') || createUserForm.get('password').hasError('maxlength') ||createUserForm.get('password').hasError('required') ) && createUserForm.get('password').touched">
        <div class="error" *ngIf="createUserForm.get('password').hasError('required') && createUserForm.get('password').touched">
          Please input your password
        </div>
        <div class="error" *ngIf="createUserForm.get('password').hasError('minlength') && createUserForm.get('password').touched">
          Minimum 6 characters
        </div>
        <div class="error" *ngIf="createUserForm.get('password').hasError('maxlength') && createUserForm.get('password').touched">
          Maximum 12 characters
        </div>
      </ion-item>


      <ion-row>
        <ion-item no-lines class="input-col">
          <ion-label>User Level:</ion-label>
          <ion-select [(ngModel)]="userData.user_level" formControlName="user_level" [class.error1]="!createUserForm.controls.user_level.valid && createUserForm.controls.user_level.dirty">
            <ion-option value="001">Cashier</ion-option>
            <ion-option value="002">Admin</ion-option>
            <ion-option value="003">Super User</ion-option>
          </ion-select>
        </ion-item>
      </ion-row>

      <ion-item no-lines class="remark" *ngIf="createUserForm.get('user_level').hasError('required')  && createUserForm.get('user_level').touched">
        <div class="error" *ngIf="createUserForm.get('user_level').hasError('required') && createUserForm.get('user_level').touched">
          Please select user level
        </div>
      </ion-item>

      <button class="create_user" type="submit" ion-button full round color="primary" [disabled]="createUserForm.invalid">Create</button>
    </form>
  </ion-list>

  
  <ion-item no-lines class="remark" id="user_table_remark" style="display: none">
    * Status: 1: Active; 0: Inactive
  </ion-item>

  <ion-grid id="user_table" style="display: none">
    <ion-row class="user_table_header">
      <ion-col col-4 class="user_table_header_col">
        Name (ID)
      </ion-col>
      <ion-col col-3 class="user_table_header_col">
        Password
      </ion-col>
      <ion-col col-3 class="user_table_header_col">
        User Level
      </ion-col>
      <ion-col col-2 class="user_table_header_col_last">
        Status
      </ion-col>
    </ion-row>

    <ion-row class="user_table_body" *ngFor="let user of user_profile">
      <ion-col col-4 class="user_table_body_col">
        {{user.name}} ({{user.userid}})
      </ion-col>

      <ion-col col-3 class="user_table_body_col">
        <ng-template [ngIf]="user.level != 003">
          <div id="pass_type" (click)="editPass(user.index)"> {{user.pass}}</div>
        </ng-template>
        <ng-template [ngIf]="user.level == 003">
          <div id="password">{{user.pass}}</div>
        </ng-template>
      </ion-col>

      <ion-col col-3 class="user_table_body_col">
        <ng-template [ngIf]="user.level == 001"> Cashier</ng-template>
        <ng-template [ngIf]="user.level == 002"> Admin</ng-template>
        <ng-template [ngIf]="user.level == 003"> Super User</ng-template>
      </ion-col>

      <ion-col col-2 class="user_table_body_col_last">
        <ng-template [ngIf]="user.level != 003">
          <div id="status_type" (click)="editStatus(user.index)"> {{user.status}}</div>
        </ng-template>
        <ng-template [ngIf]="user.level == 003">
          <div> {{user.status}}</div>
        </ng-template>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>