page-user {

    .background_color{
        button{
            background: transparent !important;
        }
        .create_user{
            background: $primary-color !important;
        }
    }
    
    
    @mixin heading-font-regular {
        font-family: 'Helvetica', 'Helvetica Neue', 'Arial', sans-serif;;
    }

    #pass_type, #status_type{
        color: $primary-color;
        text-decoration: underline;
    }

    #pass_type, #password{
        -webkit-text-security: disc;
    }

    .user_table_header{
        background: $primary-color;
        color: white;
    }

    .user_table_body{
        background-color: white;
        
    }

    .user_table_header, .user_table_body{
        border: 1px solid gray;
    }

    .user_table_header_col{
        font-weight: bold;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .user_table_header_col_last{
        font-weight: bold;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .user_table_body_col{
        border-top:none;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .user_table_header_col_last, .user_table_body_col_last{
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .user_table_body_col_last{
        border-top:none;
    }

    .auto_generate_pass{
        font-size: 11px;
        color: $primary-color;
        background: transparent;
        font-style: bold;
        border: none;
        text-decoration: underline;
        cursor: pointer;
    }
    

    .user_level{
        font-size: 13px;
    }

    
    //SUPER BASIC PAGE STYLING
    *,*:before,*:after{
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
    }
    main {
      padding: 2em;  
      float: left;
      width: 100%;
    }
    
    a {
      color: #222;
      font-weight: bold;
      text-decoration: none;
      border-bottom: 2px solid #222;
      
      &:hover {
        color: $primary-color;
      }
    }
}
