page-setting {
    .background_color {
        
         .error {
          text-align: center;
        }
  
        ion-row {
           align-items: center;
           text-align: center;
         }

      }
     
}
