<ion-header>
  <ion-navbar>
    <ion-title>Machine IP Setting</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding class="background_color">
  <form (ngSubmit)="ipRegister()" #ipRegisterForm="ngForm">

    <ion-row>
      <ion-col>
        <ion-list inset>
          <ion-item class="input-col">
            <ion-input type="text" placeholder="IP Address" name="ipAddress" [(ngModel)]="ipRegisterCredentials.ipAddress" required></ion-input>
          </ion-item>

        </ion-list>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col class="signup-col">
        <button ion-button round class="save-btn" type="button" full type="submit" [disabled]="!ipRegisterForm.form.valid">Save</button>
      </ion-col>
    </ion-row>

  </form>
</ion-content>