<ion-header>

  <ion-navbar>
    <ion-title>Lock / Unlock</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding class="background_color">
  <!-- <button ion-button color="primary" full round type="button" (click)="lockOperation(1)">Note - Lock Cash Box</button><br>-->
  <button ion-button color="primary" full round type="button" (click)="unlockOperation(1)">Note - Unlock Cash Box</button><br>
  <!--<button ion-button color="primary" full round type="button" (click)="lockOperation(2)">Coin - Lock Cash Box</button><br>-->
  <button ion-button color="primary" full round type="button" (click)="unlockOperation(2)">Coin - Unlock Cash Box</button><br>
</ion-content>
