<ion-header>

  <ion-navbar>
    <ion-title>User Level Configuration</ion-title>
  </ion-navbar>

</ion-header>



<ion-content padding class="background_color">
  <br>
  <ion-row>
    <ion-item no-lines class="input-col">
      <ion-label>Select Configure Type</ion-label>
      <ion-select name="type" (ionChange)="onChange($event)">
        <ion-option value="1">Admin Control</ion-option>
        <ion-option value="2">Cashier Control</ion-option>
        <ion-option value="3">Logout Time Setting</ion-option>
      </ion-select>
    </ion-item>
  </ion-row>

  <form (ngSubmit)="saveChange(1)" id="user_table_cashier" style="display:none">
    <ion-grid>
      <ion-row id="user_table_title">
        <ion-card class="input-col">
          <ion-card-header >
            Cashier
          </ion-card-header>
        </ion-card>
      </ion-row>

      <ion-row class="user_table_header">
        <ion-col col-8 class="user_table_header_col"></ion-col>
        <ion-col col-4 class="user_table_header_col">Cashier</ion-col>
      </ion-row>

      <ion-row class="user_table_body" *ngFor="let accessDetailsCashier of levelAccessCashier;">
        <ion-col col-8 class="user_table_body_col">
          {{accessDetailsCashier.name}}
        </ion-col>

        <ion-col col-4 class="user_table_body_col">
          <div *ngIf="accessDetailsCashier.control == 1">
            <ion-checkbox class="checkbox" (ionChange)="updateLevelCashier(accessDetailsCashier.id,0)" checked="true"></ion-checkbox>
          </div>
          <div *ngIf="accessDetailsCashier.control == 0">
            <ion-checkbox class="checkbox" (ionChange)="updateLevelCashier(accessDetailsCashier.id,1)" checked="false"></ion-checkbox>
          </div>
        </ion-col>

      </ion-row>

    </ion-grid>
    <button ion-button round full id="submit-btn" class="save" type="submit">Save</button>
  </form>


  <form (ngSubmit)="saveChange(2)" id="user_table_admin" style="display:none">
    <ion-grid>
      <ion-row id="user_table_title" >
        <ion-card class="input-col">
          <ion-card-header>
            Admin
          </ion-card-header>
        </ion-card>
      </ion-row>


      <ion-row class="user_table_header">
        <ion-col col-8 class="user_table_header_col"></ion-col>
        <ion-col col-4 class="user_table_header_col"> Admin</ion-col>
      </ion-row>

      <ion-row class="user_table_body" *ngFor="let accessDetailsAdmin of levelAccessAdmin">
        <ion-col col-8 class="user_table_body_col">
          {{accessDetailsAdmin.name}}
        </ion-col>

        <ion-col col-4 class="user_table_body_col">
          <div *ngIf="accessDetailsAdmin.control == 1">
            <ion-checkbox class="checkbox" (ionChange)="updateLevelAdmin(accessDetailsAdmin.id, 0)" checked="true"></ion-checkbox>
          </div>
          <div *ngIf="accessDetailsAdmin.control == 0">
            <ion-checkbox class="checkbox" (ionChange)="updateLevelAdmin(accessDetailsAdmin.id, 1)" checked="false"></ion-checkbox>
          </div>
        </ion-col>

      </ion-row>

    </ion-grid>
    <button ion-button round full id="submit-btn" class="save" type="submit">Save</button>
  </form>


  <br>
  <br>
  <ion-list id="sessionSettingForm" style="display:none">
    <form novalidate (ngSubmit)="sessionSetting()" [formGroup]="sessionSettingForm">
      <ion-item class="input-col" no-lines>
        <ion-label class = "disabled">Existing Logout Time (Minutes): </ion-label>
        <ion-input type="number" disabled="{{isDisabled}}" id="existing_time" [(ngModel)]="amount.existing_time" formControlName="existing_time"></ion-input>
      </ion-item>

      <ion-item class="input-col" no-lines>
        <ion-label>New Logout Time (Minutes): </ion-label>
        <ion-input type="number" [(ngModel)]="amount.new_time" formControlName="new_time" [class.error1]="!sessionSettingForm.controls.new_time.valid && sessionSettingForm.controls.new_time.dirty"></ion-input>
      </ion-item>

      <ion-item no-lines *ngIf="( sessionSettingForm.get('new_time').hasError('pattern') || sessionSettingForm.get('new_time').hasError('required') ) && sessionSettingForm.get('new_time').touched">
        <div class="error" *ngIf="sessionSettingForm.get('new_time').hasError('required') && sessionSettingForm.get('new_time').touched">
          Please Input Time
        </div>
        <div class="error" *ngIf="sessionSettingForm.get('new_time').hasError('pattern') && sessionSettingForm.get('new_time').touched">
          Please Insert Valid Time
        </div>
      </ion-item>

      <button ion-button round full class="save" type="submit" color="primary" [disabled]="sessionSettingForm.invalid">Save</button>
    </form>
  </ion-list>
</ion-content>