page-recycler  {
    
    @mixin heading-font-regular {
        font-family: 'Helvetica', 'Helvetica Neue', 'Arial', sans-serif;;
    }
    
    .recycler_control_table_header, .recycler_control_table_body, 
    .user_table_header, .user_table_body{
        border: 1px solid gray;
    }

    .recycler_control_table_body{
        background-color: white;
    }

    .recycler_control_table_header{
        background-color: $primary-color;
        color: white;
    }

    #base_type, #min_type, #max_type{
        color: $primary-color;
        text-decoration: underline;
    }

    .user_table_header_col,
    .recycler_control_table_header_col{
        font-weight: bold;
        border-right: 0.5px solid gray;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .user_table_header_col_last,
    .recycler_control_table_header_col_last{
        font-weight: bold;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .user_table_body_col, 
    .recycler_control_table_body_col {
        border-top:none;
        border-right: 0.5px solid gray;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .user_table_header_col_last, .user_table_body_col_last, 
    .recycler_control_table_header_col_last, .recycler_control_table_body_col_last{
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .user_table_body_col_last,
    .recycler_control_table_body_col_last{
        border-top:none;
    }

    
    //SUPER BASIC PAGE STYLING
    *,*:before,*:after{
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
    }
    main {
      padding: 2em;  
      float: left;
      width: 100%;
    }
    
    a {
      color: #222;
      font-weight: bold;
      text-decoration: none;
      border-bottom: 2px solid #222;
      
      &:hover {
        color: $primary-color;
      }
    }

}
