<ion-header>

  <ion-navbar>
    <ion-title>Recycler Box Configuration</ion-title>
  </ion-navbar>

</ion-header>


<ion-content class="background_color">

  <br>
  <ion-row class="recycler_control_table_header">
    <ion-col col-3 class="recycler_control_table_header_col">
      Deno
    </ion-col>
    <ion-col col-2 class="recycler_control_table_header_col">
      Base
    </ion-col>
    <ion-col col-2 class="recycler_control_table_header_col">
      Min
    </ion-col>
    <ion-col col-2 class="recycler_control_table_header_col">
      Max
    </ion-col>
    <ion-col col-2 class="recycler_control_table_header_col_last">
      Current
    </ion-col>
  </ion-row>

  <ion-row class="recycler_control_table_body" *ngFor="let type_recycler of checkAmount_Piece_recycler">
    <ion-col col-3 class="recycler_control_table_body_col">
      SGD {{type_recycler.amount}}
    </ion-col>
    <ion-col col-2 class="recycler_control_table_body_col" (click)="editBase(type_recycler.id)" id="base_type">
      {{type_recycler.base}}
    </ion-col>
    <ion-col col-2 class="recycler_control_table_body_col" (click)="editMin(type_recycler.id)" id="min_type">
      {{type_recycler.min}}
    </ion-col>
    <ion-col col-2 class="recycler_control_table_body_col" (click)="editMax(type_recycler.id)" id="max_type">
      {{type_recycler.max}}
    </ion-col>
    <ion-col col-2 class="recycler_control_table_body_col_last">
      {{type_recycler.piece}}
    </ion-col>
  </ion-row>


</ion-content>