<ion-header>
  <ion-navbar hideBackButton>
     <ion-buttons left>
         <button id="backButton" ion-button (click)="backButton()">
             <ion-icon class="customIcon" name="arrow-back"></ion-icon>
         </button>
     </ion-buttons>
     <ion-title>Sales</ion-title>
  </ion-navbar>
 </ion-header>


<ion-content padding class="background_color">
  <ion-item no-lines class="remark" id="user_table_remark">
    * Enter only xxx.x5, where 0.05 or 0.00, only dispensable
    <br> &nbsp; 0.05 cent.
  </ion-item>

  <form novalidate (ngSubmit)="sales()" [formGroup]="salesForm">
    <ion-item no-lines class="input-col">
      <ion-label floating>Total Sales: (SGD)</ion-label>
      <ion-input type="number" id="get_amount" [(ngModel)]="amount.get_amount" formControlName="get_amount" [class.error1]="!salesForm.controls.get_amount.valid && salesForm.controls.get_amount.dirty"></ion-input>
    </ion-item>

    <ion-item no-lines class = "err-col" *ngIf="( salesForm.get('get_amount').hasError('pattern') || salesForm.get('get_amount').hasError('required') ) ">
      <div class="error" *ngIf="salesForm.get('get_amount').hasError('required')">
        Please input your amount
      </div>
      <div class="error" *ngIf="salesForm.get('get_amount').hasError('pattern')">
        Please Insert Valid Amount
      </div>
    </ion-item>

    <button ion-button round full color="primary" id="startCashIn-btn" [disabled]="salesForm.invalid" (click)="getStatusOfMachine()">Start</button>

    <ion-row>
      <ion-col>
        <ion-list inset>
          <ion-item no-lines class="input-col">
            <ion-label class = "disabled" >Total Insert Amount (SGD):</ion-label>
            <ion-input type="text" [(ngModel)]="amount.cash" formControlName="cash" placeholder="" id="receivedCash" name="receivedCash"
              disabled="{{isDisabled}}"></ion-input>
          </ion-item>

          <ion-item no-lines class="input-col">
            <ion-label class = "disabled" >Change (SGD):</ion-label>
            <ion-input type="text" [(ngModel)]="amount.change" formControlName="change" placeholder="" id="balance" name="balance" disabled="{{isDisabled}}"></ion-input>
          </ion-item>

        </ion-list>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col class="btn-col">
        <button ion-button full round class="return-btn" type="button" id="cancelCashIn-btn" type="submit" disabled="{{isDisabled}}" (click)="cancelCashInBtnOnClick()">Cancel</button>
        <button ion-button full round class="fixsales-btn" type="button" id="completeCashIn-btn" disabled="{{isDisabled}}" (click)="completeCashInBtnOnClick()">Confirm</button>
      </ion-col>
    </ion-row>

    <ion-item no-lines class="remark">
      <div id="status"></div>
      <div id="statusSales"></div>
      <div id="statusInsertAmount"></div>
      <div id="statusBalance"></div>
    </ion-item>

  </form>


</ion-content>