<ion-header>

  <ion-navbar>
    <ion-title>Inventory</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding class="background_color">

  <ion-item no-lines class="input-col">
    <ion-label>Select Inventory Type</ion-label>
    <ion-select name="type" (ionChange)="onChange($event)">
      <ion-option value="4">Recycler</ion-option>
      <ion-option value="3">CashBox</ion-option>
      <ion-option value="2">Total</ion-option>
    </ion-select>
  </ion-item>

  <ion-row id="table_dispense_selection" style="display: none">
    <ion-card>
      <ion-card-header class="company-detail">
        Recycler
      </ion-card-header>
    </ion-card>
  </ion-row>
  <ion-row id="table_dispense_amount" style="display: none">
    <ion-card>
      <ion-card-header class="company-detail">
        CashBox
      </ion-card-header>
    </ion-card>
  </ion-row>
  <ion-row id="table_total_title" style="display: none">
    <ion-card>
      <ion-card-header class="company-detail">
        Total
      </ion-card-header>
    </ion-card>
  </ion-row>

  <table id="rwd-table_type_cashbox" style="display: none">
    <thead>
      <tr>
        <th>Denomination</th>
        <th>Current Quantity</th>
        <th>Total Amount</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let type_cashbox of checkAmount_Piece_cashbox">
        <td>SGD {{type_cashbox.amount}}</td>
        <td>{{type_cashbox.piece}}</td>
        <td>SGD {{type_cashbox.total}}</td>
      </tr>
    </tbody>

  </table>

  <ion-row id="cashbox_total" style="display: none">
    <ion-card>
      <ion-card-header>
        <div id = "total"> Total (SGD): {{totalDisplay}}</div>
      </ion-card-header>
    </ion-card>
  </ion-row>

  <table id="rwd-table_type_recycler" style="display: none">
    <thead>
      <tr>
        <th>Denomination</th>
        <th>Current Quantity</th>
        <th>Total Amount</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let type_recycler of checkAmount_Piece_cashbox">
        <td>SGD {{type_recycler.amount}}</td>
        <td>{{type_recycler.piece}}</td>
        <td>SGD {{type_recycler.total}}</td>
      </tr>
    </tbody>
  </table>

  <ion-row id="recycler_total" style="display: none">
      <ion-card>
        <ion-card-header>
            <div id = "total"> Total (SGD): {{totalDisplay}}</div>
        </ion-card-header>
      </ion-card>
    </ion-row>

  <table id="rwd-table_type_total" style="display: none">
    <thead>
      <tr>
        <th>Denomination</th>
        <th>Current Quantity</th>
        <th>Total Amount</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let type_recycler of checkAmount_Piece_cashbox">
        <td>SGD {{type_recycler.amount}}</td>
        <td>{{type_recycler.piece}}</td>
        <td>SGD {{type_recycler.total}}</td>
      </tr>
    </tbody>
  </table>

  <ion-row id="overall_total" style="display: none">
      <ion-card>
        <ion-card-header>
            <div id = "total"> Total (SGD): {{totalDisplay}}</div>
        </ion-card-header>
      </ion-card>
    </ion-row>

</ion-content>