page-refund {
    $error-color: rgba(red, .6);
    $primary-color: #008cba;
    $gray-color: #ddd;
    $medium-up: 600px;
    $large-up: 1000px;
    $global-radius: 4px;
    
    
    @mixin heading-font-regular {
        font-family: 'Helvetica', 'Helvetica Neue', 'Arial', sans-serif;;
    }
    
    .help-block{
        color: $error-color;
    }
    //SUPER BASIC PAGE STYLING
    *,*:before,*:after{
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
    }
    main {
      padding: 2em;  
      float: left;
      width: 100%;
    }

    .pieceInput{
        font-weight: bold;
        color: #4169E1;
        background-color: #D9D9F3;
        width:30%;
        border-radius: 5px;
        padding-left: 3px;
    }
    
    .remark{
        font-size: 11px;
        color: #ff0000;
    }

    .user_level{
        font-size: 13px;
    }

    .error {
        color: rgb(223, 62, 62);
        font-size: 11px;
      }
    
      .error1 {
        color: rgb(75, 75, 75);
        border-bottom: 1px solid #ff0000;
      }
      
    a {
      color: #222;
      font-weight: bold;
      text-decoration: none;
      border-bottom: 2px solid #222;
      
      &:hover {
        color: $primary-color;
      }
    }
    
}
