<ion-header>

  <ion-navbar>
    <ion-title>Refund</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding class="background_color">

  <ion-item no-lines class="remark" id="user_table_remark">
    * Enter only xxx.x5, where 0.05 or 0.00, only dispensable
    <br> &nbsp; 0.05 cent.
  </ion-item>

  <ion-list id="dispenseByAmountFormx">
    <form novalidate (ngSubmit)="dispenseByAmount()" [formGroup]="dispenseByAmountForm">
      <ion-item style="display: none">
        <ion-label floating>Total (SGD):</ion-label>
        <ion-input type="text" id="total_amount" [(ngModel)]="amount.total_amount" formControlName="total_amount" disabled="{{isDisabled}}"></ion-input>
      </ion-item>

      <ion-item no-lines class="input-col">
        <ion-label floating>Amount: (SGD)</ion-label>
        <ion-input type="number" [(ngModel)]="amount.get_amount" formControlName="get_amount" [class.error1]="!dispenseByAmountForm.controls.get_amount.valid && dispenseByAmountForm.controls.get_amount.dirty"></ion-input>
      </ion-item>

      <ion-item no-lines  class = "remark" *ngIf="( dispenseByAmountForm.get('get_amount').hasError('minlength') ||dispenseByAmountForm.get('get_amount').hasError('pattern') || dispenseByAmountForm.get('get_amount').hasError('required') ) && dispenseByAmountForm.get('get_amount').touched">
        <div class="error" *ngIf="dispenseByAmountForm.get('get_amount').hasError('required') && dispenseByAmountForm.get('get_amount').touched">
          Please input your amount
        </div>
        <div class="error" *ngIf="dispenseByAmountForm.get('get_amount').hasError('pattern') && dispenseByAmountForm.get('get_amount').touched">
          Please Insert Valid Amount
        </div>
      </ion-item>

      <button type="submit" id="dispense" full round ion-button block color="primary" [disabled]="dispenseByAmountForm.invalid">Dispense</button>
      <ion-item no-lines class="remark">
        <div id="status"></div>
        <div id="statusSales"></div>
      </ion-item>
    </form>
  </ion-list>
</ion-content>